<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Users</h1>
<table border="1">
    <tr>
        <th>No</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>Age</th>
        <th>Roles</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}">No</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surname}">Surname</td>
        <td th:text="${user.city}">City</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.getUserRoles(user)}">Roles</td>
        <td>
            <input type="button" value="Update" th:data-url="@{/admin/{id}/show(id=${user.getId()})}"
                   onclick="window.location.href=this.getAttribute('data-url');"/>
            <form th:method="delete" th:action="@{/admin/{id}/deleteUser(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>

    </tr>
</table>

<br/>

<input type="button" value="Add" onclick="window.location.href = 'new'"/>

<br/>

<br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

</body>
</html>