<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bootstrap</title>
</head>
<body>
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <b class="h5 text-white" th:text="${user.username} +'   with roles:   '  + ${user.getUserRoles(user)}"></b>
        <a class="nav-link active text-secondary fw-lighter" aria-current="page" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="container-fluid ">
    <div style="height: calc(100vh - 60px)" class="row">
        <div class="col-2 py-4 px-0">
            <ul class="nav nav-pills nav-fill flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-left" data-toggle="tab" href="#userPage">User</a>
                </li>
            </ul>
        </div>
        <div style="background-color: lightgray" class="col-10 m-0 py-4 px-5">
            <h1>User Information-page</h1>
            <h5 class="pl-3 pt-2">About user</h5>
            <div style="background-color: white" class="border p-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>City</th>
                        <th>Age</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td th:text="${user.id}">No</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.surname}">Surname</td>
                    <td th:text="${user.city}">City</td>
                    <td th:text="${user.age}">Age</td>
                    <td th:text="${user.getUserRoles(user)}">Roles</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>