<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>

<form th:action="@{/admin/{id}/updateUser(id=${userForUpdate.getId()})}" th:object="${userForUpdate}" th:method="patch">


  <table border="0" cellpadding="10">
    <tr>
      <td>Username</td>
      <td><input type="text" th:field="*{username}"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" th:field="*{password}"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>Surname</td>
      <td><input type="text" th:field="*{surname}"></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" th:field="*{city}"></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" th:field="*{age}"></td>
    </tr>
  </table>

  <br/>

  <input type="submit" value="Update"/>

</form>

<br/>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Log out"/>
</form>

</body>
</html>